<div class = "row">
	<div class = "col-xs-offset-4 col-xs-4">
		<%= render "layouts/error_message", model:@user %>
		<h1>会員情報編集ページ</h1>

		<div class = "edit-user-form text-center">
			<%= form_with model:@user, local: true do |f| %>
				<div class = "form">
					<span class = "name-info">ニックネーム</span>
					<%= f.text_field :name, autofocus: true, placeholder:"ニックネーム" %>
				</div>
				<div class = "form">
					<!--<span class = "user-image-info"></span>-->
					<%= attachment_image_tag @user, :user_image, :fill, 100, 100, fallback: "no_image.jpg" %>
					<%= f.attachment_field :user_image, placeholder:"プロフィール画像" %>
				</div>
				<div class = "action">
					<%= f.submit "変更" %>
				</div>
			<% end %>
		</div>
	</div>
</div>