<div class = "row">
	<h1>投稿編集</h1>
	<%= form_with model:@post, local: true do |f| %>
		<div class = "col-xs-5 col-xs-offset-1">
			<div class = "post-edit-form">
				<!--<span class = "user-image-info"></span>-->
				<%= attachment_image_tag @post, :post_image, :fill, 60, 60, fallback: "no_image.jpg" %>
				<%= f.attachment_field :post_image, placeholder:"参考画像" %>
			</div>
		</div>

		<div class = "col-xs-5">
			<div class = "edit-form text-center">
				<div class = "form">
					<span class = "title-info">タイトル</span>
					<%= f.text_field :title %>
				</div>
				<div class = "form">
					<span class = "body-info">説明</span>
					<%= f.text_field :explanation %>
				</div>
				<div class = "form">
					<span class = "item-info">商品状態</span>
					<!--enumで列挙する-->
				</div>
				<div class = "form">
					<span class = "burden-info">送料負担</span>
					<!--プルダウンメニュー作る-->
				</div>
				<div class = "form">
					<span class = "post-image-info">画像</span>
					<!--ここにattachment-->
				</div>
				<div class = "action">
					<%= f.submit "投稿" %>
				</div>
			</div>
		</div>
	<% end %>
</div>

