<div id = "row">

	<div id = "head">
		<h1>投稿作成</h1>
	</div>
	<%= form_with model:@post, local: true do |f| %>
		<!--<lavel for = "image">-->
			<div class = "col-xs-4 col-xs-offset-2 prev-img">
				<div class = "file-img">
					<%= attachment_image_tag @post, :post_image, fallback: "no_image.jpg" %>
				</div>
				<%= f.attachment_field :post_image %>
			</div>
		<!--</lavel>-->

		<div class = "col-xs-6 text-center">
			<%= render "layouts/error_message", model:@post %>
			<div class = "new-post-form">
				<div class = "post-new">
					<lavel class = "title-info">タイトル</lavel>
					<%= f.text_field :title %>
				</div>
				<div class = "post-new">
					<lavel class = "condition-info">商品状態</lavel>
					<%= f.select :condition, Post.conditions.keys %>
				</div>
				<div class = "post-new">
					<lavel class = "sales-info">売上高</lavel>
					<%= f.text_field :selling_price %>円
				</div>
				<div class = "post-new">
					<lavel class = "burden-info">送料負担</lavel>
					<% label :is_burden, "", value: true %>
					<%= f.radio_button :is_burden, true %>出品者負担
					<% label :is_burden, "", value: false %>
					<%= f.radio_button :is_burden, false %>購入者負担
				</div>
				<div class = "post-new">
					<lavel class = "body-info"></lavel>
					<%= f.text_area :explanation, size: "50x5", placeholder: "詳細な説明" %>
				</div>
				<div class = "new-post-btn">
					<%= f.submit "投稿する", class:"btn" %>
				</div>
			</div>
		</div>
	<% end %>
</div>

