<div class = "row">
	<h1>投稿詳細</h1>
	<div class = "col-xs-6 text-center">
		<section class = "single-post">
			<div class = "post-show">
					<span class = "title-show">タイトル</span>
					<%= @post.title %>
				</div>
				<div class = "form">
					<span class = "body-show">説明</span>
					<%= @post.explanation %>
				</div>
				<div class = "form">
					<span class = "item-show">商品状態</span>
					<%= @post.condition %>
				</div>
				<div class = "form">
					<span class = "burden-show">送料負担</span>
					<%= @post.is_burden %>
				</div>
				<div class = "form">
					<span class = "post-image-show">画像</span>
					<%= @post.post_image %>
				</div>
		</section>
		<div class = "edit-user-btn">
			<%= button_to "編集", edit_post_path(@post.id), class:"btn btn-success", method: :get %>
		</div>
	</div>

	<div class = "col-xs-6 center-block">
		<div class = "comment-table">
			<h3>質問一覧</h3>
			<table class = "table table-hover">
				<% if @post.comments.present? %>
					<% @post.comments.each do |comment| %>
						<tr>
							<td><%= comment.user.name %></td>
							<td>
								<%= comment.comment %>
							</td>
						</tr>
					<% end %>
				<% else %>
					<h3>まだ質問はありません</h3>
				<% end %>
			</table>
		</div>
	</div>
</div>