<div class = "row">
	<h1>投稿詳細</h1>
	<div class = "col-xs-6 text-center">
		<div class = "post-show-img">
			<%= attachment_image_tag @post, :post_image, :fill, 50, 50, fallback: "no_image.jpg" %>
		</div>
		<section class = "single-post">
			<div class = "post-show">
					<span class = "title-show">タイトル：</span>
					<%= @post.title %>
				</div>
				<div class = "form">
					<span class = "item-show">商品状態：</span>
					<%= @post.condition %>
				</div>
				<div class = "form">
					<span class = "sales-show">売上高：</span>
					<%= @post.selling_price %>円
				</div>
				<div class = "form">
					<span class = "burden-show">送料負担：</span>
					<% if @post.is_burden == true %>
						<span>出品者負担</span>
					<% else %>
						<span>購入者負担</span>
					<% end %>
				</div>
				<div class = "form">
					<% if @post.liked_by?(current_user) %>
						<%= link_to post_likes_path(@post), method: :delete do %>
							<i class = "fa fa-heart" aria-hidden = "true" style = "color:red;"></i>
							<%= @post.likes.count %>いいね
						<% end %>
					<% else %>
						<%= link_to post_likes_path(@post), method: :post do %>
							<i class = "fa fa-heart" aria-hidden = "true"></i>
							<%= @post.likes.count %>いいね
						<% end%>
					<% end %>
				</div>
				<div class = "form">
					<span class = "body-show">説明：</span>
					<%= @post.explanation %>
				</div>
		</section>
		<div class = "edit-user-btn">
			<%= button_to "編集", edit_post_path(@post.id), class:"btn btn-success", method: :get %>
		</div>
	</div>

	<div class = "col-xs-6 center-block">
		<div class = "comment-table">
			<h3>質問一覧</h3>
			<table class = "table table-border">
				<% if @post.comments.present? %>
					<% @post.comments.each do |comment| %>
						<tr>
							<td><%= comment.user.name %>さん</td>
							<td>
								<%= comment.comment %>
							</td>
						</tr>
					<% end %>
				<% else %>
					<h3>まだ質問はありません</h3>
				<% end %>
			</table>
		</div>

		<%= form_for [@post, @comment] do |f| %>
			<div class = "new-comment-form">
				<%= f.text_area :comment, size: "50x5", placeholder: "質問してみる" %>
			</div>
			<%= f.submit "質問する", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>