<div class = "head-box row">
<%= render 'layouts/notifications' %>
	<div id = "head">
		<h1><%= @post.title %></h1>
	</div>
	<div class = "col-xs-5 col-xs-offset-1">
		<div class = "post-show-img text-center">
			<%= attachment_image_tag @post, :post_image, :fill, 300, 300, fallback: "no_image.jpg" %>
		</div>
	</div>

	<div class = "col-xs-5">
		<dl class = "single-post">
			<dt class = "post-show">
				<dd class = "item-show">商品状態：<%= @post.condition %></dd>
			</dt>
			<dt class = "post-show">
				<dd class = "sales-show">売上高：<%= @post.selling_price.to_s(:delimited) %>円</dd>
			</dt>
			<dt class = "post-show">
				<% if @post.is_burden == true %>
					<dd>送料負担：出品者負担</dd>
				<% else %>
					<dd>送料負担：購入者負担</dd>
				<% end %>
				</dd>
			</dt>
			<dt class = "post-show">
				<%= render 'posts/like', post: @post %>
			</dt>
			<dt class = "post-show">
				<dd class = "body-show">説明：<%= @post.explanation %></dd>
			</dt>
		</dl>
		<% if @post.user == current_user %>
			<div class = "edit-post-btn text-center">
				<%= link_to "編集する", edit_post_path(@post.id), class:"btn", method: :get %>
			</div>
		<% end %>
	</div>
</div>
<div class = "row ">
	<div class = "comment-area col-xs-6 col-xs-offset-3">
		<div class = "profile-area">
			<h3>投稿者</h3>
			<%= attachment_image_tag @post.user, :user_image, :fill, 60, 60, fallback:"no_image.jpg", class:"img-circle profile-thumb center-block" %>
			<%= link_to user_path(@post.user) do %>
				<p><%= @post.user.name %></p>
			<% end %>
		</div>

		<div class = "comment-table">
			<h3>質問一覧</h3>
			<table class = "table table-border">
				<% if @post.comments.present? %>
					<tr>
						<th>質問者</th>
						<th>質問内容</th>
					</tr>
					<% @post.comments.each do |comment| %>
						<tr>
							<td width = "120">
								<%= comment.user.name %>さん
								<% if comment.user == current_user %>
									<div class = "comment-delete-btn">
										<%= link_to "delete", post_comment_path(@post, comment.id), method: :delete, class: "btn btn-danger btn-xs", data: {confirm: '質問を削除します。よろしいですか？'}%>
									</div>
								<% end %>
							</td>
							<td><%= comment.comment %></td>
						</tr>
					<% end %>
				<% else %>
					<h4>この投稿に対する質問はありません</h4>
				<% end %>
			</table>
		</div>

		<div class = "invite-box">
			<% if user_signed_in? %>
				<%= render "layouts/error_message", model:@comment %>
				<%= form_for [@post, @comment] do |f| %>
					<div class = "new-comment-form">
						<%= f.text_area :comment, size: "70x5", placeholder: "質問してみる" %>
					</div>
					<%= f.submit "質問する", class: "btn btn-primary" %>
				<% end %>
			<% else %>
				<div class = "invite-new-user text-center">
					<h3>あなたも質問してみませんか？</h3>
					<%= link_to "新規登録", new_user_registration_path, class:"btn btn-primary" %>
					<p>既にアカウントを持っている方は<%= link_to "ログイン", new_user_session_path %></p>
				</div>
			<% end %>
		</div>
	</div>
</div>