<div class = "row">
	<div id = "head">
		<h1>投稿詳細</h1>
	</div>
	<div class = "col-xs-6">
		<div class = "post-show-img text-center">
			<%= attachment_image_tag @post, :post_image, :fill, 300, 300, fallback: "no_image.jpg" %>
		</div>
	</div>

	<div class = "col-xs-6">
		<section class = "single-post">
			<div class = "post-show">
				<span class = "title-show">タイトル：</span>
				<%= @post.title %>
			</div>
			<div class = "post-show">
				<span class = "item-show">商品状態：</span>
				<%= @post.condition %>
			</div>
			<div class = "post-show">
				<span class = "sales-show">売上高：</span>
				<%= @post.selling_price.to_s(:delimited) %>円
			</div>
			<div class = "post-show">
				<span class = "burden-show">送料負担：</span>
				<% if @post.is_burden == true %>
					<span>出品者負担</span>
				<% else %>
					<span>購入者負担</span>
				<% end %>
			</div>
			<div class = "post-show">
				<%= render 'posts/like', post: @post %>
			</div>
			<div class = "post-show">
				<span class = "body-show">説明：</span>
				<%= @post.explanation %>
			</div>
		</section>
		<% if @post.user == current_user %>
			<div class = "edit-post-btn text-center">
				<%= link_to "編集する", edit_post_path(@post.id), class:"btn", method: :get %>
			</div>
		<% end %>
	</div>
</div>
<div calss = "row ">
	<div class = "comment-area col-xs-6 col-xs-offset-3">
		<%= render 'layouts/flash' %>

		<div class = "comment-table">
			<h3>質問一覧</h3>
			<table class = "table table-border">
				<% if @post.comments.present? %>
					<% @post.comments.each do |comment| %>
						<tr>
							<th>質問者</th>
							<th>質問内容</th>
						</tr>
						<tr>
							<td width = "120"><%= comment.user.name %>さん</td>
							<td><%= comment.comment %></td>
							<td>
								<% if comment.user == current_user %>
									<div class = "comment-delete-btn">
										<%= link_to "delete", post_comment_path(@post, comment.id), method: :delete, class: "btn btn-danger", data: {confirm: '質問を削除します。よろしいですか？'}%>
									</div>
								<% end %>
							</td>
						</tr>
					<% end %>
				<% else %>
					<h3>まだ質問はありません</h3>
				<% end %>
			</table>
		</div>

		<div class = "invite-box">
			<% if user_signed_in? %>
				<%= render "layouts/error_message", model:@comment %>
				<%= form_for [@post, @comment] do |f| %>
					<div class = "new-comment-form">
						<%= f.text_area :comment, size: "50x5", placeholder: "質問してみる" %>
					</div>
					<%= f.submit "質問する", class: "btn btn-primary" %>
				<% end %>
			<% else %>
				<div class = "invite-new-user text-center">
					<h3>あなたも質問してみませんか？</h3>
					<%= link_to "新規登録", new_user_registration_path, class:"btn btn-primary" %>
					<p>既にアカウントを持っている方は<%= link_to "ログイン", new_user_session_path %></p>
				</div>
			<% end %>
		</div>
	</div>
</div>