<!DOCTYPE html>
<html>
  <head>
    <title>ZeniGetBack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  </head>

  <body>
    <div id = "body">
      <%= render 'layouts/header' %>
      <div class = "container-fluid">
        <%= yield %>
      </div>
        <footer>© All rights reserved by Hyouyou.</footer>
    </div>
  </body>
</html>
