<!DOCTYPE html>
<html>
  <head>
    <title>ZeniGetBack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id = "wrapper">
      <%= render 'layouts/header' %>
      <%= render 'layouts/notifications' %>
      <div id = "container-fluid">
        <%= yield %>
      </div>
      <footer>
        <p>© All rights reserved by Hyouyou.</p>
      </footer>
  </body>
</html>
